<div>
    <h1 style="text-align: center;">One Way Data Binding</h1>
    <!-- Invoke contact component -->
    <!-- <app-contact></app-contact> -->

    <!-- Interpolation : one way data binding -->
    <h2>My Name is : {{name}}</h2>

    <!-- Property Binding : one way data binding  -->
    <img [src]="imageUrl" alt="" width="500">

    <br><br>

    <!-- Attribute Binding -->
    <!-- Role is custom name we can add it to any name -->
    <button [attr.role]="task">Attribute Binding</button>

    <br><br>

    <!-- Class binding >> can dynamically manage  -->
    <button [class.active]="isActive">Class Binding</button>

    <br><br>

    <!-- Style Binding -->
    <button [style.font-size]="fontSize">Style Binding</button>

    <br><br>

    <!-- Event Binding -->
    <button (click)="changeFontSize()" [style.font-size]="fontSize" cla>Event Binding</button>

    <hr>
</div>

<div>
    <h1 style="text-align: center;">Two Way Data Binding</h1>
    <hr>

    <!-- Template refernce variable >> #example -->
    <input type="text" #inputRef (keyup)="printData(inputRef.value)">
    <h3>Print Data here : {{valueSave}}</h3>

    <!-- Using ngModel (Two way data binding) -->
    <input type="text" [(ngModel)]="modelName">
    <h3>Print Data here : {{modelName}}</h3>

    <!-- *ngIf -->
    <button (click)="state=!state">{{state?'Hide Now': 'Show Now'}}</button>
    <div class="customDiv" *ngIf="state"></div>

    <br><br>
    <!-- Traditional Method -->
    <!-- <ul>
        <li>Name : {{customer[0].name}} >> Age is : {{customer[0].age}}</li>

    </ul> -->

    <!-- Using *ngFor Directive -->
    <ul>
        <li *ngFor="let tempCustomer of customer; index as myIndex">
            <!-- Save navigation option  >> '?' if not data comming no showing errors-->
            {{myIndex+1}} | Name : {{tempCustomer?.name}} >> Age is : {{tempCustomer?.age}}
        </li>
    </ul>
</div>