ul {
    list-style: none;

    li {
        display: inline-block;

        a {
            text-decoration: none;
            padding: 8px 15px;
            border: 1px solid rgb(95, 60, 60);
            cursor: pointer;
        }
    }
}

.active {
    color: black !important;
    background-color: greenyellow !important;
}